<h1> Stations </h1>

<% @station_data.get_stations.each do |station| %>
  <ul class = 'station'>
    <li> Station Name: <%= station.name %> </li>
    <li> Address: <%= station.address %> </li>
    <li> Fuel types: <%= station.fuel_types %> </li>
    <li> Access Times: <%= station.access_times %> </li>
    <li> Distance: <%= station.distance %> </li>

  </ul>
<% end %>
